-- CreateTable Supplier
CREATE TABLE `suppliers` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `name` VARCHAR(255) NOT NULL,
    `contact` VARCHAR(100) NOT NULL,
    `email` VARCHAR(100) NOT NULL,
    `phone` VARCHAR(20) NOT NULL,
    `address` TEXT NOT NULL,
    `category` VARCHAR(100) NOT NULL,
    `rating` DECIMAL(3,1) NOT NULL DEFAULT 0,
    `status` ENUM('ACTIVE', 'INACTIVE', 'SUSPENDED') NOT NULL DEFAULT 'ACTIVE',
    `accreditationStatus` ENUM('ACCREDITED', 'NOT_ACCREDITED', 'PENDING_VERIFICATION', 'REJECTED') NOT NULL DEFAULT 'NOT_ACCREDITED',
    `accreditation_expiry` DATE,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (`id`),
    INDEX `idx_supplier_status`(`status`),
    INDEX `idx_supplier_accreditation`(`accreditationStatus`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable SupplierAccreditation
CREATE TABLE `supplier_accreditations` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `supplier_id` INTEGER NOT NULL,
    `status` ENUM('ACCREDITED', 'NOT_ACCREDITED', 'PENDING_VERIFICATION', 'REJECTED') NOT NULL DEFAULT 'PENDING_VERIFICATION',
    `document_path` VARCHAR(500) NOT NULL,
    `document_type` VARCHAR(50) NOT NULL,
    `uploaded_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `uploaded_by` INTEGER NOT NULL,
    `expiry_date` DATE,
    `verified_at` TIMESTAMP(0),
    `verified_by` INTEGER,
    `rejection_reason` TEXT,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (`id`),
    UNIQUE INDEX `supplier_id`(`supplier_id`),
    INDEX `idx_accreditation_status`(`status`),
    INDEX `idx_accreditation_uploaded`(`uploaded_at`),
    CONSTRAINT `supplier_accreditations_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`) ON DELETE CASCADE
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable PurchaseOrder
CREATE TABLE `purchase_orders` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `poNumber` VARCHAR(50) NOT NULL,
    `supplier_id` INTEGER NOT NULL,
    `project_id` INTEGER,
    `project_name` VARCHAR(255),
    `status` ENUM('DRAFT', 'PENDING', 'APPROVED', 'ORDERED', 'RECEIVED', 'CANCELLED', 'FLAGGED', 'REQUIRES_APPROVAL') NOT NULL DEFAULT 'DRAFT',
    `accreditation_status` ENUM('ACCREDITED', 'NOT_ACCREDITED', 'PENDING_VERIFICATION', 'REJECTED') NOT NULL,
    `requires_manual_approval` BOOLEAN NOT NULL DEFAULT false,
    `subtotal` DECIMAL(15,2) NOT NULL,
    `tax` DECIMAL(15,2) NOT NULL,
    `total` DECIMAL(15,2) NOT NULL,
    `order_date` DATE NOT NULL,
    `delivery_date` DATE,
    `requested_by` INTEGER NOT NULL,
    `approved_by` INTEGER,
    `approved_at` TIMESTAMP(0),
    `rejection_reason` TEXT,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    `updated_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (`id`),
    UNIQUE INDEX `poNumber`(`poNumber`),
    INDEX `idx_po_number`(`poNumber`),
    INDEX `idx_po_supplier`(`supplier_id`),
    INDEX `idx_po_status`(`status`),
    INDEX `idx_po_accreditation`(`accreditation_status`),
    INDEX `idx_po_requires_approval`(`requires_manual_approval`),
    INDEX `idx_po_date`(`order_date`),
    CONSTRAINT `purchase_orders_ibfk_1` FOREIGN KEY (`supplier_id`) REFERENCES `suppliers` (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable PurchaseOrderItem
CREATE TABLE `purchase_order_items` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `purchase_order_id` INTEGER NOT NULL,
    `item_name` VARCHAR(255) NOT NULL,
    `description` TEXT,
    `quantity` DECIMAL(10,2) NOT NULL,
    `unit` VARCHAR(50) NOT NULL,
    `unit_price` DECIMAL(15,2) NOT NULL,
    `total` DECIMAL(15,2) NOT NULL,
    `created_at` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    PRIMARY KEY (`id`),
    INDEX `idx_poi_po`(`purchase_order_id`),
    CONSTRAINT `purchase_order_items_ibfk_1` FOREIGN KEY (`purchase_order_id`) REFERENCES `purchase_orders` (`id`) ON DELETE CASCADE
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
